.outer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.outer-container .big-fat-text {
  color: #0b032d;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 60%;
  overflow: auto; /* Enable scroll if needed */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 30vw;
  height: 13vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0b032d;
  border-radius: 5px;
}

.navbar .nav {
  border-bottom: 1px solid #f5f7fa;
  color: #f5f7fa;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.navbar .nav:hover {
  cursor: pointer;
  transform: rotate(2deg);
  font-size: 1.45rem;
}

.middle-container {
  width: 30vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
}

.title {
  width: 25%;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #0b032d;
  border-radius: 5px;
}

.title p {
  color: #f5f7fa;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

.slogan p {
  color: #f5f7fa;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

.slogan {
  width: 70%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b032d;
  border-radius: 5px;
}

.main-container {
  width: 30vw;
  height: 50vh;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0b032d;
  border-radius: 5px;
}

.filter {
  width: 30vw;
  height: 6%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.search-box {
  background-color: #f5f7fa;
  border: none;
  border-radius: 5px;
  height: 100%;
  margin-left: 4%;
}

.filter-text {
  color: #f5f7fa;
  font-size: 1rem;
  font-weight: 200;
  height: 100%;
  margin-left: 4%;
  font-family: "Quicksand", sans-serif;
}

.drop-down {
  font-family: "Open Sans", sans-serif;
  width: 7rem;
  height: 100%;
  background-color: #f5f7fa;
  border: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 300;
  margin-left: 4%;
  margin-right: 4%;
}

.card-container {
  width: 30vw;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 1rem;
}

.card {
  width: 40%;
  height: 40%;
  border-radius: 5px;
  background-color: #f5f7fa;
  margin: 2%;
}

.card:hover {
  cursor: pointer;
  height: 38%;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f7fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b032d;
  border: 1px solid whitesmoke;
}

/* tablet */
@media only screen and (max-width: 1400px) {
  .outer-container .big-fat-text {
    display: none;
  }

  .navbar,
  .middle-container,
  .main-container,
  .filter,
  .card-container {
    width: 60vw;
  }

  .card {
    width: 15vw;
    height: 15vw;
  }

  .card:hover {
    height: 14vw;
  }
}

/* phone */
@media only screen and (max-width: 700px) {
  .outer-container .big-fat-text {
    display: none;
  }

  .navbar,
  .middle-container,
  .main-container,
  .filter,
  .card-container {
    width: 90vw;
  }

  .card {
    width: 35vw;
    height: 35vw;
  }

  .card:hover {
    height: 24vw;
  }

  .title p,
  .navbar .nav {
    font-size: 0.9rem;
  }

  .slogan p,
  .filter-text {
    font-size: 0.75rem;
  }

  .navbar .nav:hover {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 345px) {
  .search-box {
    margin-right: 4%;
  }
}
